---
import HexToTailwind from "../components/HexToTailwind";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hex to Tailwind</title>
    <meta
      name="description"
      content="Find the closest Tailwind color for a given HEX code."
    />
  </head>
  <body>
    <main class="mx-auto max-w-prose p-3">
      <h1 class="text-3xl font-bold mb-10">
        Convert your HEX code to the closest color in the Tailwind palette
      </h1>

      <HexToTailwind client:load />
    </main>
  </body>
</html>
